body {
    padding: 20px;
}

h1 {
    font-family: "helvetica", sans-serif;
    font-weight: 800;
    text-decoration: underline;
}

li {
    padding: 1em;
}

a {
    color: black;
    text-decoration: none;
    background-color: rgb(214, 214, 214);
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: .25em;
    transition: all, .5s;
    
}

a:hover {
    background-color:rgb(28, 113, 135);
    color: white;
    transition: all, .5s;
}

.unordered {
    border-radius: .5em;
    padding: 20px 50px;
    background-color: rgba(28, 114, 135, 0.28)
}

.unordered > li {
    color: black;
}

.ordered {
    border-radius: .5em;
    padding: 20px 50px;
    background-color: rgba(28, 114, 135, 0.28)
}

.ordered > li {
    color: black;
}


.frontpage {
    display: block;
    width: 215px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid;
    padding: 20px 50px;
    border-radius: 2rem;
    box-shadow: 5px 5px black 


}

.ingredients {
    display: inline-block;
    vertical-align: top;
}
.instructions {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}